# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=AIzaSyCmoGS6J5pyTUxZt1VAWM_WNbD1bF0puJk
FIREBASE_API_KEY=AIzaSyCmoGS6J5pyTUxZt1VAWM_WNbD1bF0puJk
FIREBASE_PROJECT_ID=my-tnpa-project
FIREBASE_AUTH_DOMAIN=my-tnpa-project.firebaseapp.com
FIREBASE_STORAGE_BUCKET=my-tnpa-project.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=29684796516
FIREBASE_APP_ID=1:29684796516:web:22c43098a73b42e727e371
FIREBASE_FIRESTORE_DB_ID=ai-studio-pwa-83ee3210-d1c1-40db-9fca-b5dd90c3a957
RTMP_INGEST_URL=rtmp://stream.tnpa.org/live
RTMP_STREAM_KEY=tnpa_live_key_production
LIVE_HLS_PLAYBACK_URL=https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8

